<!doctype html>
<html>

<head>
	<meta name="ac:route" content="/account">
	<base href="/">
	<script src="dmxAppConnect/dmxAppConnect.js"></script>
	<meta charset="UTF-8">
	<title>Account</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="bootstrap/4/css/bootstrap.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
	<script src="dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer=""></script>
	<link rel="stylesheet" href="css/style.css" />
	<script src="dmxAppConnect/dmxBootstrap4Alert/dmxBootstrap4Alert.js" defer=""></script>
	<script src="dmxAppConnect/dmxBrowser/dmxBrowser.js" defer=""></script>
	<script src="dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer=""></script>
	<script src="dmxAppConnect/dmxBootstrap4Modal/dmxBootstrap4Modal.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
	<script src="dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
	<script src="dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer=""></script>

	<script src="dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxNotifications/dmxNotifications.css" />
	<script src="dmxAppConnect/dmxNotifications/dmxNotifications.js" defer=""></script>
	<script src="dmxAppConnect/dmxDatastore/dmxDatastore.js" defer=""></script>
</head>

<body is="dmx-app" id="account">

	<dmx-value id="currentProductIndex" dmx-bind:value="0"></dmx-value>

	<dmx-value id="currentReviewIndex" dmx-bind:value="0"></dmx-value>


	<dmx-value id="currentAppIndex" dmx-bind:value="0"></dmx-value>


	<dmx-array id="Products"></dmx-array>
	<dmx-array id="Reviews"></dmx-array>
	<dmx-array id="Appointments"></dmx-array>
	<dmx-serverconnect id="delete_appointment" url="api/Account/delete_all_appointment" noload dmx-on:success="run({runJS:{function:'appointmentRemoval'}})" dmx-on:error="notifies.danger('An error occured')"></dmx-serverconnect>
	<dmx-serverconnect id="delete_rev" url="api/Account/delete_all_reviews" noload></dmx-serverconnect>
	<dmx-serverconnect id="product_removal" url="api/Account/delete_all_prods" noload></dmx-serverconnect>
	<div class="alert" id="alert1" is="dmx-bs4-alert" role="alert">
		<p>This is a nice alert!</p>
	</div>
	<dmx-serverconnect id="fetch_all_details" url="api/Account/fetch" noload dmx-param:id="session.data.user_id"
		dmx-on:success="run([{run:{action:`Appointments.add(fetch_all_details.data.fetch_user_appointments)`}},{runJS:{function:'appointmentRemoval'}},{wait:{delay:500}},{while:{condition:`currentAppIndex.value != 0`,exec:{steps:{wait:{delay:100}}}}},{run:{action:`Reviews.add(fetch_all_details.data.fetch_reviews)`}},{runJS:{function:'reviewRemoval'}},{wait:{delay:500}},{while:{condition:`currentProductIndex.value != 0`,exec:{steps:{wait:{delay:100}}}}},{run:{action:`Products.add(fetch_all_details.data.fetch_owned_products)`}},{runJS:{function:'productRemoval'}}])">
	</dmx-serverconnect>
	<dmx-notifications id="notifies" position="bottom"></dmx-notifications>


	<dmx-serverconnect id="cancel_app" url="api/Account/cancel_appointment" noload dmx-on:success="notifies.success('Appointment cancelled')" dmx-on:error="notifies.danger('Could not cancel appointment')" dmx-param:app_id="" dmx-param:start_time=""
		dmx-param:durr="" dmx-param:date="">
	</dmx-serverconnect>
	<div is="dmx-browser" id="redirect"></div>


	<dmx-serverconnect id="delete_account" url="api/Account/delete_account" dmx-param:id="session.data.user_id" noload
		dmx-on:success="notifies.success('Account deleted');session.remove('user_id');session.remove('username');session.remove('on');session.remove('email');session.remove('role');redirect.goto('http://localhost:8100/')"
		dmx-on:error="notifies.danger('Failed to delete account')">
	</dmx-serverconnect>

	<dmx-serverconnect id="past_appointments" url="api/Data/fetch_past_appointments" dmx-param:date="today.datetime" dmx-param:id="session.data.user_id">
	</dmx-serverconnect>
	<dmx-serverconnect id="upcoming_appointments" url="api/Data/fetch_upcoming_appointments" dmx-param:date="today.datetime" dmx-param:id="session.data.user_id"></dmx-serverconnect>
	<dmx-datetime id="today" interval="hours"></dmx-datetime>

	<dmx-session-manager id="session"></dmx-session-manager>
	<dmx-serverconnect id="userDetails" url="api/Login/userDetails" noload></dmx-serverconnect>


	<div class="container" id="greeting">
		<div class="row">
			<div class="col">
				<h1 class="text-center mt-4 font-weight-light" dmx-text="'Hello,&nbsp;'+session.data.username">{{'Hello,&nbsp;'+userDetails.data.query1[0].username}}</h1>
			</div>
		</div>
	</div>
	<div class="container mt-2">
		<div class="row border-bottom">
			<div class="col">
				<h3 class="text-left font-weight-light">General Settings</h3>
			</div>
		</div>
	</div>
	<div class="container mt-3" id="settings">



		<div class="row mt-0" id="username_details">


			<div class="text-left border col align-self-center">
				<h5 dmx-text="'Username:&nbsp;'+session.data.username" class="font-weight-light mb-0">A nice paragraph</h5>
			</div>


			<div class="col">
				<button id="edit_username" class="btn btn-outline-primary btn-sm w-auto">Edit</button>
			</div>
		</div>

		<div class="row mt-2 style3" id="username_input">
			<div class="col"><input id="userName" name="text1" type="text" class="form-control style4"></div>

		</div>
		<div class="row mt-2" id="email_details">
			<div class="col-6 border">
				<h5 dmx-text="'E-mail:&nbsp;'+session.data.email" class="font-weight-light mb-0">Fancy display heading</h5>
			</div>
		</div>
		<div class="row mt-2">

			<div class="col-2">

				<button id="change_pass" class="btn btn-outline-primary ml-n3 mr-0 btn-sm flex-grow-1">Change Password</button>
			</div>
			<div class="col-2 offset-2"><button id="del" class="btn btn-outline-danger btn-sm flex-grow-1 ml-3 btn-block" dmx-on:click="modalwarning.show()">Delete Account</button></div>
		</div>
	</div>
	<div class="container mt-3">




		<div class="row">
			<div class="col border-bottom">
				<h3 class="font-weight-light">Appointments</h3>
			</div>
		</div>
		<div class="row mt-2" id="upcoming">
			<div class="col">
				<h4 class="font-weight-light">Upcoming</h4>
			</div>
		</div>
		<div class="row" is="dmx-repeat" id="repeat1" dmx-bind:repeat="upcoming_appointments.data.fetch_all_details_from_appointments_table">
			<div class="col">

				<h6 class="font-weight-normal" dmx-text="type+' for about '+duration+' hours, starting from '+timeframe+' on '+date.formatDate('yyyy-MM-dd')">Fancy display heading</h6>
				<button id="cancel_appointment" class="btn btn-outline-danger" dmx-on:click="cancel_app.load({app_id: id, start_time: timeframe, durr: timeframe.addHours(duration.toNumber()).formatDate('HH:mm:ss'), date: date})"
					dmx-text="'Cancel'">Button</button>

			</div>
		</div>
		<div class="row mt-2" id="previous">
			<div class="col">
				<h4 class="font-weight-light">Previous</h4>
			</div>
		</div>
		<div class="row" is="dmx-repeat" id="repeat2" dmx-bind:repeat="past_appointments.data.fetch_all_details_from_app">
			<div class="col border">
				<h6 class="font-weight-normal" dmx-text="type+' for about '+duration+' hours, starting from '+timeframe+' on '+date.formatDate('yyyy-MM-dd')">Fancy display heading</h6>
			</div>
		</div>
	</div>
	<div class="container wappler-block pt-3 pb-3" id="warning">
		<div class="modal" id="modal-warning" is="dmx-bs4-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<p class="text-center text-warning"><i class="fa fa-exclamation-triangle fa-3x"></i></p>
						<h5 class="text-center font-weight-light">Are you sure you want to delete your account?</h5>
					</div>
					<div class="modal-footer">
						<dmx-value id="spinner" dmx-bind:value="0"></dmx-value>
						<button id="delete" class="btn btn-outline-danger style5" dmx-on:click="fetch_all_details.load({id: session.data.user_id});modalwarning.spinner.setValue(1)">Delete
							<span class="spinner-border spinner-border-sm" role="status" dmx-show="spinner.value == 1"></span>
						</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container wappler-block pt-3 pb-3" id="error">
		<div class="modal" id="modal_error" is="dmx-bs4-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<p class="text-center text-danger"><i class="fa fa-times"></i></p>
						<h4 class="text-center font-weight-light">Something went wrong!</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container wappler-block pt-3 pb-3" id="success">
		<div class="modal" id="modal_success" is="dmx-bs4-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<p class="text-center text-success"><i class="fa fa-check"></i></p>
						<h5 class="text-center font-weight-light">Account has been deleted! Redirecting to home page.</h5>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container wappler-block pt-3 pb-3" id="cancel_success">
		<div class="modal" id="modal-success" is="dmx-bs4-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<p class="text-center text-success"><i class="fa fa-check"></i></p>
						<h4 class="text-center font-weight-light">Appointment has been cancelled.</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container wappler-block pt-3 pb-3" id="cancel_error">
		<div class="modal" id="modal-error" is="dmx-bs4-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<p class="text-center text-danger"><i class="fa fa-times"></i></p>
						<h4 class="text-center font-weight-light">Could not cancel appointment.</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="bootstrap/4/js/popper.min.js"></script>
	<script src="bootstrap/4/js/bootstrap.min.js"></script>
	<script>
		function printThis(){
			console.log('starting...');
			var toPrint = dmx.parse('endingTime.value');
			console.log(toPrint);
		}

		function productRemoval(){
			var index = dmx.parse('currentProductIndex.value');
			var products = dmx.parse('Products.items');
			try{
				if(products[0].length > index){
					console.log('removing product at index', index);
					var toDelete = products[0][index].owned_by;
					var increment = index + 1;
					console.log('running serverconnect...');
					dmx.parse('currentProductIndex.setValue('+increment+')');
					dmx.parse('product_removal.load({user_id: '+toDelete+'})');
					console.log('finished deleting product from DB');
				} else {
					console.log('nothing else to delete from Products...');
					dmx.parse('currentProductIndex.setValue(0)');
					dmx.parse('Products.empty()');
					dmx.parse('delete_account.load({id: session.data.user_id})');
				}
			} catch (err) {
				console.log('caught an ERROR');
				console.log('nothing else to delete from Products...');
				dmx.parse('currentProductIndex.setValue(0)');
				dmx.parse('Products.empty()');
				dmx.parse('delete_account.load({id: session.data.user_id})');
			} 
				
		}

		function reviewRemoval(){
			var index = dmx.parse('currentReviewIndex.value');
			var reviews = dmx.parse('Reviews.items');
			try{
				if(reviews[0].length > index){
					console.log('removing review at index', index);
					var toDelete = reviews[0][index].by_user;
					var increment = index + 1;
					console.log('running serverconnect...');
					dmx.parse('currentReviewIndex.setValue('+increment+')');
					dmx.parse('delete_rev.load({user_id: '+toDelete+'})');
					console.log('finished deleting reviews from DB');
				} else {
					console.log('nothing else to delete from Reviews...');
					dmx.parse('currentReviewIndex.setValue(0)');
					dmx.parse('Reviews.empty()');
				}
			} catch (err) {
				console.log('caught an ERROR');
				console.log('nothing else to delete from Reviews...');
				dmx.parse('currentReviewIndex.setValue(0)');
				dmx.parse('Reviews.empty()');
			} 
				
		}

		function appointmentRemoval(){
			var index = dmx.parse('currentAppIndex.value');
			var appointments = dmx.parse('Appointments.items');
			console.log('Appointments items:',appointments);
			console.log('preparing data for cancellation...');
			try{
				if(appointments[0].length > index){
					console.log('removing app at index', index);
					var id = appointments[0][index].id;
					var start_time = appointments[0][index].serv_hours_refk;
					var end_time = appointments[0][index].serv_hours_end;
					var increment = index + 1;

					console.log('running serverconnect...');
					dmx.parse('currentAppIndex.setValue('+increment+')');
					dmx.parse('delete_appointment.load({serv_hour_start: '+start_time+', serv_hour_end: '+end_time+', user_app_id: '+id+'})');
					console.log('finished deleting appointments from DB');
				} else {
					console.log('nothing else to delete from Appointments...');
					dmx.parse('currentAppIndex.setValue(0)');
					dmx.parse('Appointments.empty()');
				}
			} catch (err) {
				console.log('caught an ERROR');
				console.log('nothing else to delete from Appointments...');
				dmx.parse('currentAppIndex.setValue(0)');
				dmx.parse('Appointments.empty()');
			}
				
		}
	</script>
</body>

</html>