<!doctype html>
<html is="dmx-app">

<head>
	<meta name="ac:route" content="/admin">
	<base href="/">
	<script src="dmxAppConnect/dmxAppConnect.js"></script>
	<meta charset="UTF-8">
	<title>Admin</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="bootstrap/4/css/bootstrap.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
	<script src="dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer=""></script>
	<script src="dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer=""></script>
	<script src="dmxAppConnect/dmxBrowser/dmxBrowser.js" defer=""></script>
	<script src="dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
	<script src="dmxAppConnect/dmxBootstrap4Alert/dmxBootstrap4Alert.js" defer=""></script>
	<script src="dmxAppConnect/dmxBootstrap4Modal/dmxBootstrap4Modal.js" defer=""></script>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="dmxAppConnect/dmxValidator/dmxValidator.css" />
	<script src="dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
	<script src="dmxAppConnect/dmxTyped/dmxTyped.js" defer=""></script>
	<script src="dmxAppConnect/dmxTyped/typed.min.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxNotifications/dmxNotifications.css" />
	<script src="dmxAppConnect/dmxNotifications/dmxNotifications.js" defer=""></script>
	<script src="dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxBootstrap4TableGenerator/dmxBootstrap4TableGenerator.css" />
	<link rel="stylesheet" href="dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
	<script src="dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
	<script src="dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer=""></script>

</head>

<body id="admin">
	<dmx-serverconnect id="delete_product" noload></dmx-serverconnect>
	<div class="alert" id="alert1" is="dmx-bs4-alert" role="alert">
		<p>This is a nice alert!</p>
	</div>
	<dmx-serverconnect id="add_new_service_hour_entry" noload url="api/Manager/add_serv_hour" dmx-on:success="notifies.success('Added service hour')" dmx-on:error="notifies.danger('Failed to add service hour')"></dmx-serverconnect>


	<dmx-serverconnect id="insert_new_product" url="api/Manager/add_new_product" noload dmx-on:error="notifies.danger('Could not add product')" dmx-on:success="notifies.success('Product has been added');cars.load({},true)"></dmx-serverconnect>
	<dmx-serverconnect id="make_product_invisible" noload url="api/Manager/change_visibility" dmx-on:success="notifies.success('Changed visibility');cars.load({},true)" dmx-on:error="notifies.danger('An error ocurred when changing visibility')">
	</dmx-serverconnect>

	<dmx-data-view id="data_view" dmx-bind:data="query_service_hours.data.query" sortOn="date"></dmx-data-view>
	<dmx-serverconnect id="query_service_hours" noload url="api/Manager/get_service_hours"></dmx-serverconnect>


	<dmx-notifications id="notifies" position="bottom"></dmx-notifications>
	<dmx-serverconnect id="bindProductToUser" url="api/Manager/bind_product" noload dmx-on:success="cars.load({},true);notifies.success('Product bound to user')" dmx-on:error="notifies.danger('Failed to bind product')"></dmx-serverconnect>


	<dmx-serverconnect id="updateService" url="api/Manager/edit_service" noload dmx-on:success="loadServices.load({},true);notifies.success('Service updated')"></dmx-serverconnect>
	<dmx-serverconnect id="deleteService" noload url="api/Manager/delete_service" dmx-on:success="loadServices.load({},true);notifies.success('Service deleted')" dmx-on:error="notifies.danger('Failed to delete service')"></dmx-serverconnect>

	<dmx-serverconnect id="loadServices" url="api/Manager/get_all_services" noload></dmx-serverconnect>
	<dmx-serverconnect id="changeUserRole" url="api/Manager/change_user_role" noload dmx-on:success="notifies.success('User role changed');loadUsers.load(true)"></dmx-serverconnect>

	<dmx-serverconnect id="loadUsers" url="api/Manager/get_all_users" noload></dmx-serverconnect>
	<dmx-serverconnect id="add_service_type" url="api/Manager/add_service" noload dmx-on:success="loadServices.load({},true);notifies.success('Service added')" dmx-on:error="notifies.danger('Failed to add service')"></dmx-serverconnect>
	<dmx-serverconnect id="view_service_types" url="api/Manager/view_service_types" noload></dmx-serverconnect>
	<dmx-serverconnect id="cars" url="api/Retrieve_images/query_all_images_moderator" noload></dmx-serverconnect>

	<dmx-serverconnect id="add_moderator" url="api/Manager/add_new_moderator" noload dmx-on:success="moderator_added.show()" dmx-on:error="moderator_error.show()"></dmx-serverconnect>


	<div is="dmx-browser" id="redirect"></div>
	<script is="dmx-flow" id="flow" type="text/dmx-flow" autorun>{
  meta: {
    $param: [
      {type: "text", name: "ROLE"}
    ]
  },
  exec: {
    steps: {
      condition: {
        if: "{{$param.ROLE=='Moderator' || session.data.role == 'Moderator'}}",
        then: {
          steps: {
            run: {name: "k", disabled: true}
          }
        },
        else: {
          steps: {
            run: {action: "{{redirect.goto('http://localhost:8100/')}}", name: "red"}
          }
        }
      }
    }
  }
}</script>
	<dmx-value id="ok" dmx-bind:value="-1"></dmx-value>
	<dmx-session-manager id="session"></dmx-session-manager>
	<dmx-serverconnect id="restrict_access" url="api/Data/restrict" dmx-param:id="session.data.user_id" dmx-on:success="flow.run({ROLE: restrict_access.data.query[0].role})" dmx-on:error="redirect.goto('http://localhost:8100/')" noload>
	</dmx-serverconnect>



	<div class="container">
		<div class="row">
			<div class="col text-center mt-3">
				<h1 class="font-weight-light">Moderator View</h1>
			</div>
		</div>

	</div>
	<div class="row mt-3 pl-5">
		<div class="col text-left border-bottom ml-0">

			<h3 class="font-weight-light">Manage users<button id="load_users" class="btn ml-4 btn-outline-primary" dmx-on:click="loadUsers.load()">Load users</button></h3>
		</div>
	</div>


	<div class="row mt-2 pl-5 row-cols-3" is="dmx-repeat" id="repeat2" dmx-bind:repeat="loadUsers.data.custom">

		<div class="col-2 border-dark mb-1">
			<h5 class="font-weight-light" id="number" dmx-text="id">Fancy display heading</h5>
		</div>
		<div class="border-dark mb-1 col-3">
			<h5 class="font-weight-light" dmx-text="email">Fancy display heading</h5>
		</div>
		<div class="border-dark mb-1 col-2">
			<h5 class="font-weight-light" dmx-text="username">Fancy display heading</h5>
		</div>
		<div class="col border-dark mb-1">
			<dmx-value id="make_opposite"></dmx-value>
			<dmx-value id="status" dmx-on:updated="flow1.run()" dmx-bind:value="role"></dmx-value>
			<div class="row row-cols-3">
				<script is="dmx-flow" id="flow1" type="text/dmx-flow" autorun>{
  condition: {
    if: "{{role=='Moderator'}}",
    then: {
      steps: {
        run: {action: "{{make_opposite.setValue('User')}}"}
      }
    },
    else: {
      steps: {
        run: {action: "{{make_opposite.setValue('Moderator')}}"}
      }
    }
  }
}</script>


				<div class="col">
					<h5 class="font-weight-light" dmx-text="role" id="role">Fancy display heading</h5>
				</div>
				<div class="col-5"><button id="btn1" class="btn btn-sm btn-outline-primary" dmx-text="'Make&nbsp;'+make_opposite.value" dmx-on:click="changeUserRole.load({email: email, role: make_opposite.value})">Button
					</button></div>
				<div class="col-3">
					<button id="btn2" class="btn btn-outline-danger btn-sm">Delete</button>
				</div>
			</div>


		</div>
	</div>
	<div class="row mt-3 pl-5">
		<div class="col text-left border-bottom ml-0">

			<h3 class="font-weight-light">Manage services<button id="load_services" class="btn ml-4 btn-outline-primary" dmx-on:click="loadServices.load({})" wappler-command="editContent">Load services</button></h3>
		</div>
	</div>
	<div class="row row-cols-2 mt-2 mb-2 pl-5" is="dmx-repeat" id="repeat3" dmx-bind:repeat="loadServices.data.custom">

		<div class="col-5">
			<h5 class="font-weight-light" dmx-text="rev_type+', Duration: '+duration+'&nbsp;hours'">Fancy display heading</h5>
		</div>
		<div class="col mb-2">


			<button id="btn3" class="btn btn-outline-primary"
				dmx-on:click="run({condition:{if:`show_popup_editing.value==0`,then:{steps:{run:{action:`show_popup_editing.setValue(1)`,name:'ok'}}},else:{steps:{run:{action:`show_popup_editing.setValue(0)`}}}}})">Edit</button>
			<button id="btn4" class="btn btn-outline-danger" dmx-on:click="deleteService.load({type: rev_type})">Delete</button>
			<dmx-value id="show_popup_editing" dmx-bind:value="0"></dmx-value>
			<div class="row row-cols-3 mt-2" id="editing_popup" dmx-show="show_popup_editing.value==1">



				<div class="col-6">

					<input id="service_name_edit" name="text1" type="text" class="form-control" placeholder="Service name" required="" dmx-bind:value="rev_type">
					<button id="submit_service_edit" class="btn btn-outline-success mt-2 mb-0"
						dmx-on:click="updateService.load({name: rev_type, new_name: service_name_edit.value, new_duration: service_duration_edit.value});show_popup_editing.setValue(0)">Submit</button></div>
				<div class="col-4 pl-0">

					<input id="service_duration_edit" name="text1" type="number" class="form-control" placeholder="Duration" required="" data-rule-number="" dmx-bind:value="duration"></div>
			</div>
		</div>
	</div>
	<div class="row mt-3 pl-5">
		<div class="text-left col-12">
			<dmx-value id="show_add_service" dmx-bind:value="0"></dmx-value>


			<button id="add_new_service" class="btn btn-outline-dark" wappler-command="editContent"
				dmx-on:click="run({condition:{if:`show_add_service.value==0`,then:{steps:{run:{action:`show_add_service.setValue(1)`}}},else:{steps:{run:{action:`show_add_service.setValue(0)`}}}}})">Add new</button>
			<div class="row mt-1" dmx-show="show_add_service.value==1">
				<div class="col-3">

					<input id="add_service_name" name="text1" type="text" class="form-control mt-2" placeholder="Service name" required="">
					<button id="btn5" class="btn mt-2 btn-outline-success" dmx-on:click="add_service_type.load({type_duration: add_service_duration.value, type_name: add_service_name.value});show_add_service.setValue(0)">Submit</button></div>
				<div class="col-2 pl-0">
					<input id="add_service_duration" name="text1" type="number" class="form-control mt-2" placeholder="Duration" required="" data-rule-number="">
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3 pl-5">
		<div class="col text-left border-bottom ml-0">

			<h3 class="font-weight-light">Manage products<button id="load" class="btn btn-outline-primary ml-4" dmx-on:click="cars.load({})" wappler-command="editContent">Load cars</button></h3>
		</div>
	</div>

	<div class="row mt-3 pl-5 row-cols-3" is="dmx-repeat" id="repeat1" dmx-bind:repeat="cars.data.query1">
		<div class="text-left col mb-2">


			<div class="card mb-3">
				<dmx-value id="proD_iD" dmx-bind:value="id"></dmx-value>
				<dmx-value id="make_oppositE"></dmx-value>
				<dmx-value id="showing" dmx-bind:value="0"></dmx-value><img class="card-img-top" alt="Card image cap" dmx-bind:src="image">
				<div class="card-body">


					<script is="dmx-flow" id="flow2" type="text/dmx-flow" autorun>{
  condition: {
    if: "{{invisible == 0}}",
    then: {
      steps: {
        run: {action: "{{make_oppositE.setValue('invisible')}}"}
      }
    },
    else: {
      steps: {
        run: {action: "{{make_oppositE.setValue('visible')}}"}
      }
    }
  }
}</script>



					<h4 class="card-title" dmx-text="make+' - '+model">Card title</h4>
					<div class="row">

						<button id="btn7" class="btn btn-primary mr-3 flex-grow-1" dmx-on:click="redirect.goto('http://localhost:8100/modelx_admin?product_id='+id)">Edit&nbsp;<i class="fa fa-search-plus"></i></button><button id="bind"
							class="btn btn-primary style8 flex-grow-1" dmx-on:click="run({condition:{if:`showing.value==0`,then:{steps:{run:{action:`showing.setValue(1)`}}},else:{steps:{run:{action:`showing.setValue(0)`}}}}})">Bind to
							user</button><button id="btn12" class="btn btn-danger flex-grow-1 ml-3">Delete</button></div>
					<div class="row"><button id="btn11" class="btn btn-primary btn-block mt-2 style12" dmx-text="'Make '+make_oppositE.value"
							dmx-on:click="run({condition:{if:`make_oppositE.value == \'visible\'`,then:{steps:{run:{action:`make_product_invisible.load({product_id: proD_iD.value, visibility_status: 0});cars.load({},true)`}}},else:{steps:{run:{action:`make_product_invisible.load({product_id: proD_iD.value, visibility_status: 1});cars.load({},true)`}}}}})"
							dmx-class:style12="make_oppositE.value == 'visible'">Make
							invisible&nbsp;</button></div>
				</div>
			</div>

			<div class="row" dmx-show="showing.value==1">

				<div class="col-6">
					<input id="text1" name="text1" type="number" class="form-control" placeholder="Enter user id" required="" data-rule-number="">
				</div>
				<div class="col">
					<button id="btn6" class="btn btn-outline-success" dmx-on:click="bindProductToUser.load({product_id: id, user_id: text1.value});showing.setValue(0);text1.setValue(0)">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 pl-5">
		<div class="col">
			<dmx-value id="show_add_product" dmx-bind:value="0"></dmx-value>
			<button id="btn8" class="btn btn-outline-dark" dmx-on:click="run({condition:{if:`show_add_product.value == 0`,then:{steps:{run:{action:`show_add_product.setValue(1)`}}},else:{steps:{run:{action:`show_add_product.setValue(0)`}}}}})">Add
				new product</button>
			<div class="row row-cols-3 mt-2 mb-2 ml-0" dmx-show="show_add_product.value == 1">
				<div class="col pl-0">
					<div class="card">
						<div class="card-body">
							<form id="form1" method="post"><input id="text4" name="text4" type="text" class="form-control mb-2" placeholder="Thumbnail image source" required=""><input id="text2" name="text2" type="text" class="form-control"
									placeholder="Model" required="">
								<input id="text6" name="text6" type="text" class="form-control mt-2" placeholder="Producer" required=""><input id="text3" name="text3" type="text" class="form-control mt-2" placeholder="Price" required=""><input
									id="text5" name="text5" type="text" class="form-control mt-2" placeholder="Year" required="">
								<input id="text7" name="text7" type="text" class="form-control mt-2" placeholder="Class" required=""><button id="btn13" class="btn mt-2 flex-grow-1 btn-success btn-block"
									dmx-on:click="insert_new_product.load({thumbnail_img: text4.value, mod: text2.value, producer: text6.value, price: text3.value, year: text5.value, class: text7.value})">Add product</button></form>






						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-2 pl-5">
		<div class="col border-bottom">

			<h3 class="font-weight-light">Manage service hours<button id="btn9" class="btn ml-4 btn-outline-primary" dmx-on:click="query_service_hours.load({})">Load timetable</button></h3>
		</div>
	</div>
	<div class="row mt-2 pl-5 no-gutters row-cols-1">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Timeframe</th>
						<th>Date</th>
						<th>Max appointments</th>
					</tr>
				</thead>
				<tbody is="dmx-repeat" dmx-generator="bs4table" dmx-bind:repeat="data_view.data" id="tableRepeat1">
					<tr>

						<td dmx-text="timeframe"></td>
						<td dmx-text="date.formatDate('yyyy-MM-dd')"></td>
						<td dmx-text="max_appointments"></td>
						<td>
							<button id="btn10" class="btn btn-outline-danger">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row pl-5">
		<div class="col">
			<dmx-value id="var1" dmx-bind:value="0"></dmx-value>
			<button id="btn14" class="btn btn-outline-dark" dmx-on:click="run({condition:{if:`var1.value == 0`,then:{steps:{run:{action:`var1.setValue(1)`}}},else:{steps:{run:{action:`var1.setValue(0)`}}}}})">Add new service hours</button>
			<div class="row mt-3" dmx-show="var1.value == 1">



				<div class="col-2">
					<select id="select1" class="custom-select">
						<option selected="" value="08:00:00">08:00:00</option>
						<option value="09:00:00">09:00:00</option>
						<option value="10:00:00">10:00:00</option>
						<option value="11:00:00">11:00:00</option>
						<option value="12:00:00">12:00:00</option>
						<option value="13:00:00">13:00:00</option>
						<option value="14:00:00">14:00:00</option>
						<option value="15:00:00">15:00:00</option>
						<option value="16:00:00">16:00:00</option>
						<option value="17:00:00">17:00:00</option>
						<option value="18:00:00">18:00:00</option>
						<option value="19:00:00">19:00:00</option>
						<option value="20:00:00">20:00:00</option>
					</select>
				</div>
				<div class="col-2">
					<input id="date1" name="date1" is="dmx-date-picker">
				</div>
				<div class="col-2">
					<input id="text8" name="text8" type="number" class="form-control" placeholder="Max appointments" data-rule-number="" required="">
				</div>

				<div class="col"><button id="add_serv_hours" class="btn btn-success" dmx-on:click="add_new_service_hour_entry.load({time: select1.value, date: date1.value, max_apps: text8.value})">Add</button></div>
			</div>
		</div>
	</div>

	<script src="bootstrap/4/js/popper.min.js"></script>
	<script src="bootstrap/4/js/bootstrap.min.js"></script>
</body>

</html>