<!doctype html>
<html>

<head>
	<meta name="ac:route" content="/modelx_admin">
	<base href="/">
	<script src="dmxAppConnect/dmxAppConnect.js"></script>
	<meta charset="UTF-8">
	<title>Catalog Admin</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="bootstrap/4/css/bootstrap.min.css" />
	<script src="dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer=""></script>
	<script src="dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxValidator/dmxValidator.css" />
	<script src="dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
	<script src="dmxAppConnect/dmxBootstrap4Alert/dmxBootstrap4Alert.js" defer=""></script>
</head>

<body is="dmx-app" id="modelx_admin">
	<dmx-value id="product"></dmx-value>
	<dmx-serverconnect id="delete_spec" url="api/ModelAdmin/delete_specification" noload dmx-on:success="serverconnect.load({id: product.value},true)"></dmx-serverconnect>
	<dmx-serverconnect id="edit_spec" noload url="api/ModelAdmin/edit_specification" dmx-on:success="serverconnect.load({id: product.value},true)"></dmx-serverconnect>


	<dmx-serverconnect id="serverconnect" url="api/Data/details" dmx-param:id="query.product_id" dmx-on:success="product.setValue(serverconnect.data.query1[0].id)"></dmx-serverconnect>
	<dmx-query-manager id="query1"></dmx-query-manager>
	<dmx-session-manager id="session"></dmx-session-manager>


	<div class="row">
		<div class="col text-center pb-1 border-bottom">
			<img src="assets/img/koenigsegg-agera-symbol.jpg" width="120" height="61" class="img-fluid">
		</div>
	</div>
	<nav class="navbar navbar-expand-lg">
		<button id="models" class="btn font-weight-bold btn-sm flex-grow-1">Models&nbsp;<i class="fa fa-car"></i></button>

		<button id="service" class="btn btn-sm font-weight-bold flex-grow-1">Service&nbsp;<i class="fa fa-wrench"></i></button>

		<button id="login" class="btn btn-sm font-weight-bold flex-grow-1">Log in&nbsp;<i class="fa fa-sign-in"></i></button>

		<button id="account" class="btn flex-grow-1 font-weight-bold btn-sm">My Account&nbsp;<i class="fa fa-user"></i></button>

		<button id="logout" class="btn flex-grow-1 btn-sm font-weight-bold">Log out&nbsp;<i class="fa fa-sign-out"></i></button>

	</nav>
	<div class="container mt-3">
		<div class="row">
			<div class="col border-bottom">
				<h3 dmx-text="serverconnect.data.query1[0].make+'&nbsp;-&nbsp;'+serverconnect.data.query1[0].model">Fancy display heading</h3>
			</div>
		</div>
	</div>
	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<img dmx-bind:src="serverconnect.data.query1[0].image" class="img-fluid">
			</div>
		</div>
		<div class="row">
			<div class="col border-bottom">
				<h2 class="mt-4" id="specs">Specifications</h2>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-5">
				<h4 class="font-weight-light" id="price" dmx-text="'Price:&nbsp;'+serverconnect.data.query1[0].price+'€'">Fancy display heading</h4>
			</div>
			<div class="col">

				<button id="edit2" class="btn btn-outline-primary" dmx-on:click="run({condition:{if:`show_this2.value == 0`,then:{steps:{run:{action:`show_this2.setValue(1)`}}},else:{steps:{run:{action:`show_this2.setValue(0)`}}}}})">Edit</button>
				<button id="remove2" class="btn btn-outline-danger ml-2" dmx-on:click="delete_spec.load({prop_name: property, prop_value: value})">Remove</button>
				<dmx-value id="show_this2" dmx-bind:value="0"></dmx-value>
				<div class="row mt-2" dmx-show="show_this2.value == 1">

					<div class="col mr-0">


						<input id="prop_name2" name="text4" type="text" class="form-control" placeholder="Property name" required="" data-rule-lettersonly="">
						<button id="subm2" class="btn btn-outline-success mt-2">Submit</button></div>
					<div class="ml-0 pl-0 col-6"><input id="prop_value2" name="text4" type="text" class="form-control" placeholder="Property value" required="" data-msg-number=""></div>
				</div>
			</div>
		</div>
		<div class="row mt-2 mb-2">
			<div class="col-5">
				<h4 id="year" class="font-weight-light" dmx-text="'Year:&nbsp;'+serverconnect.data.query1[0].year">Fancy display heading</h4>
			</div>
			<div class="col">

				<button id="edit1" class="btn btn-outline-primary" dmx-on:click="run({condition:{if:`show_this1.value == 0`,then:{steps:{run:{action:`show_this1.setValue(1)`}}},else:{steps:{run:{action:`show_this1.setValue(0)`}}}}})">Edit</button>
				<button id="remove1" class="btn btn-outline-danger ml-2" dmx-on:click="delete_spec.load({prop_name: property, prop_value: value})">Remove</button>
				<dmx-value id="show_this1" dmx-bind:value="0"></dmx-value>
				<div class="row mt-2" dmx-show="show_this1.value == 1">

					<div class="col mr-0">


						<input id="prop_name1" name="text3" type="text" class="form-control" placeholder="Property name" required="" data-rule-lettersonly="">
						<button id="subm1" class="btn btn-outline-success mt-2">Submit</button></div>
					<div class="ml-0 pl-0 col-6"><input id="prop_value1" name="text3" type="text" class="form-control" placeholder="Property value" required="" data-msg-number=""></div>
				</div>
			</div>
		</div>
		<div class="row row-cols-2 mb-2" is="dmx-repeat" id="repeat1" dmx-bind:repeat="serverconnect.data.query2">

			<div class="col-5">
				<h4 class="font-weight-light" dmx-text="property+':&nbsp;'+value">Fancy display heading</h4>
			</div>
			<div class="col mb-2">

				<button id="edit" class="btn btn-outline-primary" dmx-on:click="run({condition:{if:`show_this.value == 0`,then:{steps:{run:{action:`show_this.setValue(1)`}}},else:{steps:{run:{action:`show_this.setValue(0)`}}}}})">Edit</button>
				<button id="remove" class="btn btn-outline-danger ml-2" dmx-on:click="delete_spec.load({prop_name: property, prop_value: value})">Remove</button>
				<dmx-value id="show_this" dmx-bind:value="0"></dmx-value>
				<div class="row mt-2" dmx-show="show_this.value == 1">

					<div class="col mr-0">


						<input id="prop_name" name="text1" type="text" class="form-control" placeholder="Property name" required="" data-rule-lettersonly="">
						<button id="subm" class="btn btn-outline-success mt-2" dmx-on:click="edit_spec.load({new_name: prop_name.value, for_car: id, prev_name: property, val: prop_value.value})">Submit</button></div>
					<div class="ml-0 pl-0 col-6"><input id="prop_value" name="text2" type="text" class="form-control" placeholder="Property value" required="" data-msg-number=""></div>
				</div>
			</div>

		</div>
	</div>
	<div class="container">
		<div class="row"></div>
		<div class="row"></div>
		<div class="row"></div>
		<div class="row"></div>
		<div class="row"></div>
		<div class="row"></div>
	</div>
	<script src="bootstrap/4/js/popper.min.js"></script>
	<script src="bootstrap/4/js/bootstrap.min.js"></script>
</body>

</html>