<!doctype html>
<html>

<head>
	<meta name="ac:route" content="/modelx_admin">
	<base href="/">
	<script src="dmxAppConnect/dmxAppConnect.js"></script>
	<meta charset="UTF-8">
	<title>Catalog Admin</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="bootstrap/4/css/bootstrap.min.css" />
	<script src="dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer=""></script>
	<script src="dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxValidator/dmxValidator.css" />
	<script src="dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
	<script src="dmxAppConnect/dmxBootstrap4Alert/dmxBootstrap4Alert.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxDropzone/dmxDropzone.css" />
	<script src="dmxAppConnect/dmxDropzone/dmxDropzone.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxNotifications/dmxNotifications.css" />
	<script src="dmxAppConnect/dmxNotifications/dmxNotifications.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxBootstrap4TableGenerator/dmxBootstrap4TableGenerator.css" />
	<script src="dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
</head>

<body is="dmx-app" id="modelx_admin">
	<dmx-value id="to_copy" dmx-bind:value="'none'"></dmx-value>
	<div class="alert" id="alert1" is="dmx-bs4-alert" role="alert">
		<p>This is a nice alert!</p>
	</div>
	<dmx-serverconnect id="list_folder" noload url="api/ModelAdmin/load_folder_images"></dmx-serverconnect>
	<dmx-notifications id="notifies" position="bottom"></dmx-notifications>
	<dmx-serverconnect id="add_spec" url="api/ModelAdmin/add_specification" noload dmx-on:success="serverconnect.load({id: product.value},true);var1.setValue(0)"></dmx-serverconnect>
	<dmx-value id="product"></dmx-value>
	<dmx-serverconnect id="delete_spec" url="api/ModelAdmin/delete_specification" noload dmx-on:success="serverconnect.load({id: product.value},true)"></dmx-serverconnect>
	<dmx-serverconnect id="edit_spec" noload url="api/ModelAdmin/edit_specification" dmx-on:success="serverconnect.load({id: product.value},true)"></dmx-serverconnect>


	<dmx-serverconnect id="serverconnect" url="api/Data/details" dmx-param:id="query.product_id" dmx-on:success="product.setValue(serverconnect.data.query1[0].id)"></dmx-serverconnect>
	<dmx-query-manager id="query1"></dmx-query-manager>
	<dmx-session-manager id="session"></dmx-session-manager>


	<div class="row">
		<div class="col text-center pb-1 border-bottom">
			<img src="assets/img/koenigsegg-agera-symbol.jpg" width="120" height="61" class="img-fluid">
		</div>
	</div>
	<nav class="navbar navbar-expand-lg">
		<button id="models" class="btn font-weight-bold btn-sm flex-grow-1">Models&nbsp;<i class="fa fa-car"></i></button>

		<button id="service" class="btn btn-sm font-weight-bold flex-grow-1">Service&nbsp;<i class="fa fa-wrench"></i></button>

		<button id="login" class="btn btn-sm font-weight-bold flex-grow-1">Log in&nbsp;<i class="fa fa-sign-in"></i></button>

		<button id="account" class="btn flex-grow-1 font-weight-bold btn-sm">My Account&nbsp;<i class="fa fa-user"></i></button>

		<button id="logout" class="btn flex-grow-1 btn-sm font-weight-bold">Log out&nbsp;<i class="fa fa-sign-out"></i></button>

	</nav>
	<div class="container mt-3">
		<div class="row">
			<div class="col border-bottom">
				<h3 dmx-text="serverconnect.data.query1[0].make+'&nbsp;-&nbsp;'+serverconnect.data.query1[0].model">Fancy display heading</h3>
			</div>
		</div>
	</div>
	<div class="container mt-5">

		<div class="row">
			<div class="col">
				<img dmx-bind:src="serverconnect.data.query1[0].image" class="img-fluid" width="500">
			</div>
		</div>
		<div class="row">
			<div class="col border-bottom">
				<h2 class="mt-4" id="specs">Specifications</h2>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-5">
				<h4 class="font-weight-light" id="price" dmx-text="'Price:&nbsp;'+serverconnect.data.query1[0].price+'€'">Fancy display heading</h4>
			</div>
			<div class="col">

				<button id="edit2" class="btn btn-outline-primary" dmx-on:click="run({condition:{if:`show_this2.value == 0`,then:{steps:{run:{action:`show_this2.setValue(1)`}}},else:{steps:{run:{action:`show_this2.setValue(0)`}}}}})">Edit</button>
				<button id="remove2" class="btn btn-outline-danger ml-2" dmx-on:click="delete_spec.load({prop_name: property, prop_value: value})">Remove</button>
				<dmx-value id="show_this2" dmx-bind:value="0"></dmx-value>
				<div class="row mt-2" dmx-show="show_this2.value == 1">

					<div class="col mr-0">


						<input id="prop_name2" name="text4" type="text" class="form-control" placeholder="Property name" required="" data-rule-lettersonly="">
						<button id="subm2" class="btn btn-outline-success mt-2">Submit</button></div>
					<div class="ml-0 pl-0 col-6"><input id="prop_value2" name="text4" type="text" class="form-control" placeholder="Property value" required="" data-msg-number=""></div>
				</div>
			</div>
		</div>
		<div class="row mt-2 mb-2">
			<div class="col-5">
				<h4 id="year" class="font-weight-light" dmx-text="'Year:&nbsp;'+serverconnect.data.query1[0].year">Fancy display heading</h4>
			</div>
			<div class="col">

				<button id="edit1" class="btn btn-outline-primary" dmx-on:click="run({condition:{if:`show_this1.value == 0`,then:{steps:{run:{action:`show_this1.setValue(1)`}}},else:{steps:{run:{action:`show_this1.setValue(0)`}}}}})">Edit</button>
				<button id="remove1" class="btn btn-outline-danger ml-2" dmx-on:click="delete_spec.load({prop_name: property, prop_value: value})">Remove</button>
				<dmx-value id="show_this1" dmx-bind:value="0"></dmx-value>
				<div class="row mt-2" dmx-show="show_this1.value == 1">

					<div class="col mr-0">


						<input id="prop_name1" name="text3" type="text" class="form-control" placeholder="Property name" required="" data-rule-lettersonly="">
						<button id="subm1" class="btn btn-outline-success mt-2">Submit</button></div>
					<div class="ml-0 pl-0 col-6"><input id="prop_value1" name="text3" type="text" class="form-control" placeholder="Property value" required="" data-msg-number=""></div>
				</div>
			</div>
		</div>
		<div class="row row-cols-2 mb-2" is="dmx-repeat" id="repeat1" dmx-bind:repeat="serverconnect.data.query2">

			<div class="col-5">
				<h4 class="font-weight-light" dmx-text="property+':&nbsp;'+value">Fancy display heading</h4>
			</div>
			<div class="col mb-2">

				<button id="edit" class="btn btn-outline-primary" dmx-on:click="run({condition:{if:`show_this.value == 0`,then:{steps:{run:{action:`show_this.setValue(1)`}}},else:{steps:{run:{action:`show_this.setValue(0)`}}}}})">Edit</button>
				<button id="remove" class="btn btn-outline-danger ml-2" dmx-on:click="delete_spec.load({prop_name: property, prop_value: value})">Remove</button>
				<dmx-value id="show_this" dmx-bind:value="0"></dmx-value>
				<div class="row mt-2" dmx-show="show_this.value == 1">

					<div class="col mr-0">


						<input id="prop_name" name="text1" type="text" class="form-control" placeholder="Spec. name" required="" dmx-bind:value="property" data-msg-lettersonly="">
						<button id="subm" class="btn mt-2 btn-outline-success" dmx-on:click="edit_spec.load({new_name: prop_name.value, for_car: id, prev_name: property, val: prop_value.value});show_this.setValue(0)">Submit</button></div>
					<div class="ml-0 pl-0 col-6"><input id="prop_value" name="text2" type="text" class="form-control" placeholder="Spec. value" required="" data-msg-number="" dmx-bind:value="value"></div>
				</div>
			</div>

		</div>
		<div class="row mb-3 pr-0">
			<div class="col-12">

				<dmx-value id="var1" dmx-bind:value="0"></dmx-value>
				<button id="btn1" class="btn btn-outline-primary" dmx-on:click="run({condition:{if:`var1.value == 0`,then:{steps:{run:{action:`var1.setValue(1)`}}},else:{steps:{run:{action:`var1.setValue(0)`}}}}})">Add new</button>
				<div class="row mt-2" dmx-show="var1.value == 1">

					<div class="col-2">

						<input id="text1" name="text1" type="text" class="form-control" placeholder="Spec. name" required="">
						<button id="btn2" class="btn mt-2 btn-outline-success" dmx-on:click="add_spec.load({spec_name: text1.value, spec_value: text2.value, for_car: product.value})">Submit</button></div>
					<div class="col-2 ml-0 pl-0">
						<input id="text2" name="text2" type="text" class="form-control" placeholder="Spec. value" required="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col border-bottom mb-3">
				<h2 class="mb-3">Gallery</h2>
			</div>
		</div>
		<div class="row row-cols-2" is="dmx-repeat" id="gallery" dmx-bind:repeat="serverconnect.data.gallery">
			<div class="col">

				<img dmx-bind:src="images" class="img-fluid">
				<div class="row mt-2">
					<div class="col">
						<dmx-value id="var2" dmx-bind:value="0"></dmx-value>


						<button id="btn3" class="btn btn-outline-primary" dmx-on:click="run({condition:{if:`var2.value == 0`,then:{steps:{run:{action:`var2.setValue(1)`}}},else:{steps:{run:{action:`var2.setValue(0)`}}}}})">Edit</button>
						<button id="btn4" class="btn btn-outline-danger ml-3">Remove
						</button>
						<div class="row mt-2" dmx-show="var2.value == 1">
							<div class="col-8">

								<input id="text3" name="text3" type="text" class="form-control" placeholder="Image source (/assets/img/[image])">
								<button id="btn5" class="btn mt-2 btn-outline-success">Submit</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2">

			<div class="col-6">
				<dmx-value id="var3" dmx-bind:value="0"></dmx-value>



				<button id="btn6" class="btn btn-outline-info mb-2" dmx-on:click="run({condition:{if:`var3.value == 0`,then:{steps:{run:{action:`var3.setValue(1)`}}},else:{steps:{run:{action:`var3.setValue(0)`}}}}})">Upload new image(s)</button>
				<div class="row" dmx-show="var3.value == 1">
					<div class="col-12">
						<form id="form1" method="post" is="dmx-serverconnect-form" action="api/ModelAdmin/upload_image" dmx-on:success="notifies.success('Image uploaded');form1.reset();list_folder.load(true)"><input type="file" class="form-control"
								name="input[]" aria-describedby="input1_help" is="dmx-dropzone" multiple="true"><button id="btn7" class="btn mt-2 btn-outline-dark" type="submit">Upload</button></form>

					</div>
				</div>
			</div>

		</div>
		<div class="row mt-2">
			<div class="col">
				<dmx-value id="var4" dmx-bind:value="0"></dmx-value>

				<button id="btn8" class="btn btn-outline-info"
					dmx-on:click="run({condition:{if:`var4.value == 0`,then:{steps:[{run:{action:`var4.setValue(1)`}},{run:{action:`list_folder.load(true)`}}]},else:{steps:{run:{action:`var4.setValue(0)`}}}}})">Browse images</button>
				<div class="row mt-2" dmx-show="var4.value == 1">
					<div class="col">
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>Name</th>
										<th>Path</th>
										<th>Created</th>
									</tr>
								</thead>
								<tbody is="dmx-repeat" dmx-generator="bs4table" dmx-bind:repeat="list_folder.data.folderList1" id="tableRepeat1">
									<tr>
										<td dmx-text="name"></td>
										<td dmx-text="path" dmx-on:click="run([{runJS:{function:'copyToClipboard',args:['`var5.value`']}},{run:{action:`alert1.show();alert1.setTextContent(\'clicked\')`}}])">
											<dmx-value id="var5" dmx-bind:value="path"></dmx-value>
										</td>
										<td dmx-text="created.formatDate('yyyy-MM-dd HH:mm')"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row"></div>
		<div class="row"></div>
	</div>
	<script src="bootstrap/4/js/popper.min.js"></script>
	<script src="bootstrap/4/js/bootstrap.min.js"></script>
	<script>
		function copyToClipboard(data){
		document.execCommand("copy", true, data);
		alert("Copied data = ", data);
	}
	</script>
</body>

</html>