<!doctype html>
<html>

<head>
	<meta name="ac:route" content="/service">
	<base href="/">
	<script src="dmxAppConnect/dmxAppConnect.js"></script>
	<meta charset="UTF-8">
	<title>Service</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="bootstrap/4/css/bootstrap.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
	<script src="dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer=""></script>
	<link rel="stylesheet" href="css/style.css" />
	<script src="dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer=""></script>
	<script src="dmxAppConnect/dmxBrowser/dmxBrowser.js" defer=""></script>
	<script src="dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
	<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.4.2/main.min.css" />
	<script src="https://unpkg.com/@fullcalendar/core@4.4.2/main.min.js"></script>
	<script src="https://unpkg.com/@fullcalendar/core@4.4.2/locales-all.min.js"></script>
	<script src="https://unpkg.com/@fullcalendar/interaction@4.4.2/main.min.js"></script>
	<script src="https://unpkg.com/@fullcalendar/daygrid@4.4.2/main.min.js"></script>
	<script src="dmxAppConnect/dmxCalendar/dmxCalendar.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
	<script src="dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
	<script src="dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer=""></script>

	<link rel="stylesheet" href="dmxAppConnect/dmxValidator/dmxValidator.css" />
	<script src="dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
	<script src="dmxAppConnect/dmxBootstrap4Modal/dmxBootstrap4Modal.js" defer=""></script>
	<script src="dmxAppConnect/dmxBootstrap4Alert/dmxBootstrap4Alert.js" defer=""></script>
	<script src="dmxAppConnect/dmxSmoothScroll/dmxSmoothScroll.js" defer=""></script>
	<link rel="stylesheet" href="dmxAppConnect/dmxNotifications/dmxNotifications.css" />
	<script src="dmxAppConnect/dmxNotifications/dmxNotifications.js" defer=""></script>
</head>

<body is="dmx-app" id="service">
	<dmx-serverconnect id="revert_appointment" url="api/Service/revert" noload></dmx-serverconnect>
	<dmx-value id="fetched_id" dmx-bind:value="0"></dmx-value>
	<script is="dmx-flow" id="flow2" type="text/dmx-flow">{
  runJS: {function: "logThis"}
}</script>
	<dmx-notifications id="notifies" position="bottom"></dmx-notifications>
	<dmx-array id="TIMES" dmx-on:updated="run({run:{action:`timeframes.setValue(TIMES.items)`}})"></dmx-array>
	<script is="dmx-flow" id="edit_timeFrames" type="text/dmx-flow">{
  runJS: {function: "removeTimeframe"}
}</script>
	<dmx-value id="timeS"></dmx-value>
	<dmx-value id="serv_hour_id" dmx-on:updated="alert1.show();alert1.setTextContent(value)"></dmx-value>
	<dmx-value id="startTime" dmx-bind:value="'00:00:00'" dmx-on:updated="alert1.show();alert1.setTextContent(value)"></dmx-value>

	<dmx-value id="hide_submit" dmx-bind:value="true"></dmx-value>
	<dmx-value id="hide_duration" dmx-bind:value="true"></dmx-value>
	<dmx-value id="hide_calendar" dmx-bind:value="true"></dmx-value>
	<dmx-value id="hide_type" dmx-bind:value="true"></dmx-value>
	<dmx-value id="selected_vehicle"></dmx-value>

	<dmx-serverconnect id="insertUserAppointment" url="api/Service/insert_user_appointment" dmx-param:userid="session.data.user_id" dmx-param:service_type="services.items" dmx-param:service_type_duration="durations.items" noload
		dmx-param:carid="selected_vehicle.value" dmx-param:serv_hours_id="serv_hour_id.value" dmx-on:success="notifies.success('Appointment created')"
		dmx-on:error="notifies.danger('Could not create appointment. Please try again.');revert_appointment.load({date: date.value, starttime: startTime.value, endtime: startTime.value.addHours(total_duration.value).toISOTime()})"
		dmx-param:total_time_for_service="total_duration.value" dmx-param:serv="serv_hour_id.value"></dmx-serverconnect>
	<dmx-array id="durations"></dmx-array>
	<dmx-array id="services"></dmx-array>
	<dmx-serverconnect id="insertAppointment" url="api/Service/insert_appointment" dmx-param:date="" dmx-param:end_time="" noload dmx-param:userid="" dmx-param:start_time=""
		dmx-on:success="serv_hour_id.setValue(insertAppointment.data.get[0].id);insertUserAppointment.load({userid: session.data.user_id, service_type: services.items, service_type_duration: durations.items, carid: selected_vehicle.value, serv_hours_id: serv_hour_id.value, total_time_for_service: total_duration.value, serv: serv_hour_id.value})">
	</dmx-serverconnect>

	<dmx-value id="total_duration" dmx-bind:value="0"></dmx-value>
	<dmx-value id="date"></dmx-value>
	<dmx-serverconnect id="get_available_timeframes" noload url="api/Service/get_available_timeframes" dmx-param:date="date.value" dmx-on:success="timeS.setValue(get_available_timeframes.data.available_timeframes);edit_timeFrames.run()">
	</dmx-serverconnect>
	<dmx-serverconnect id="service_types" url="api/Service/get_service_types"></dmx-serverconnect>









	<dmx-serverconnect id="serverconnect" url="api/ownerProducts/get_products" dmx-param:user_id="session.data.user_id"></dmx-serverconnect>


	<dmx-serverconnect id="logout" url="api/Logout/logout"></dmx-serverconnect>
	<div is="dmx-browser" id="redirect"></div>
	<dmx-session-manager id="session"></dmx-session-manager>

	<div class="row">
		<div class="col pb-1 border-bottom text-center">
			<img src="assets/img/koenigsegg-agera-symbol.jpg" width="120" height="61" class="img-fluid">
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light">
		<button id="models" class="btn btn-sm ok flex-grow-1"><b>Models&nbsp;<i class="fa fa-car"></i></b></button>
		<button id="servicE" class="btn btn-sm ok flex-grow-1"><b>Service&nbsp;</b><i class="fa fa-wrench"></i></button>
		<button id="login" class="btn btn-sm ok flex-grow-1" dmx-hide="session.data.on.contains('on')" dmx-on:click="redirect.goto('http://localhost:8100/login')"><b>Log in&nbsp;</b><i class="fa fa-sign-in"></i></button>
		<button id="account" class="btn btn-sm ok flex-grow-1" dmx-show="session.data.on.contains('on')" dmx-on:click="redirect.goto('http://localhost:8100/account')"><b>My Account&nbsp;</b><i class="fa fa-user"></i></button>
		<button id="logouT" class="btn btn-sm ok flex-grow-1" dmx-show="session.data.on.contains('on')"><b>Log out&nbsp;<i class="fa fa-sign-out"></i></b></button>
	</nav>
	<div class="row mt-2">
		<div class="col border-bottom">
			<h3 class="mb-3 pl-5">Your vehicles</h3>
		</div>
	</div>
	<div class="row row-cols-3 mt-2 mb-4 pl-0" is="dmx-repeat" id="products" dmx-bind:repeat="serverconnect.data.products">
		<div class="col ml-2">
			<dmx-value id="SELECTED" dmx-bind:value="0"></dmx-value>

			<dmx-value id="modeL" dmx-bind:value="model"></dmx-value>
			<dmx-value id="makE" dmx-bind:value="make"></dmx-value>
			<img class="img-fluid some" dmx-bind:src="image"
				dmx-on:click="run([{run:{action:`selected_vehicle.setValue(id)`}},{run:{action:`hide_type.setValue(false)`}},{condition:{if:`SELECTED.value == 0`,then:{steps:{run:{action:`SELECTED.setValue(1)`}}},else:{steps:{run:{action:`SELECTED.setValue(0)`}}}}}])">
			<h5 dmx-text="make+' - '+model" class="font-weight-light text-center" dmx-class:style10="SELECTED.value == 1" dmx-class="SELECTED.value == 0">Fancy display heading</h5>
		</div>
	</div>


	<div class="container mt-4" id="options">


		<div class="row" id="serv_type">
			<div class="col">
				<h3 class="ok23">Service type</h3>
			</div>
		</div>
		<div class="row row-cols-1 pl-3" is="dmx-repeat" id="repeat1" dmx-bind:repeat="service_types.data.get_all_types">
			<script is="dmx-flow" id="updater" type="text/dmx-flow">{
  meta: {
    $param: [
      {type: "number", name: "sw"},
      {type: "number", name: "drr"},
      {type: "text", name: "serv_type"}
    ]
  },
  exec: {
    steps: {
      condition: {
        if: "{{(switch.value == 0)}}",
        then: {
          steps: {
            run: {
              action: "{{total_duration.setValue(total_duration.value +duration);switch.setValue();durations.add(duration);services.add(rev_type);hide_calendar.setValue(false)}}",
              name: "add"
            }
          }
        },
        else: {
          steps: {
            run: {
              action: "{{total_duration.setValue(total_duration.value - duration);switch.setValue(0);durations.remove(duration);services.remove(rev_type);hide_calendar.setValue(true)}}",
              name: "sub"
            }
          }
        }
      }
    }
  }
}</script>
			<dmx-value id="switch" dmx-bind:value="0"></dmx-value>

			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="type" name="input1" data-msg-minitems=""
					dmx-on:changed="run({run:{action:`updater.run({sw: repeat1[0].switch.value, drr: repeat1[0].duration, serv_type: repeat1[0].rev_type})`,name:'k'}})">
				<label class="form-check-label" for="type" dmx-text="rev_type">Default checkbox</label>
			</div>
		</div>
	</div>
	<div class="container mt-3" id="calend">
		<div class="row" id="cal">
			<div class="col">
				<h3 class="ok23 mb-4" id="service_title">Service date</h3>
				<div class="row mt-2">
					<div class="col">
						<dmx-calendar id="calendar" views="dayGridMonth,dayGridWeek,dayGridDay" business-hours="true" selectable="true" hide-non-current-dates="true"
							dmx-on:dateclick="date.setValue($event.date);get_available_timeframes.load({date: $event.date});hide_duration.setValue(false)">
						</dmx-calendar>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-4" id="times">

		<div class="row" id="serv_durr">
			<div class="col">
				<h5 class="ok23" dmx-text="'Preferred starting time. Service duration ~&nbsp;'+total_duration.value+'&nbsp;hours'">Preferred starting time</h5>
			</div>
		</div>
		<div class="row" id="time_options">
			<div class="col">
				<select id="timeframes" class="form-control" dmx-bind:options="TIMES.items" optionvalue="$value" dmx-on:changed="hide_submit.setValue(false);startTime.setValue(value)" optiontext="$value">
				</select>
			</div>
		</div>
	</div>
	<div class="container mt-4" id="subb">
		<div class="row text-left" id="sub">
			<div class="col">
				<h1 dmx-text="'End time:&nbsp;'+timeframes.value.addHours(total_duration.value)" class="inv">Fancy display heading</h1>
				<button id="submit" class="btn btn-lg btn-outline-primary"
					dmx-on:click="insertAppointment.load({date: date.value, end_time: timeframes.value.addHours(total_duration.value).toISOTime(), user_id: session.data.user_id, services: services.items, durations: durations.items, userid: session.data.user_id, start_time: startTime.value})">Submit</button>
			</div>
		</div>
	</div>
	<script src="bootstrap/4/js/popper.min.js"></script>
	<script src="bootstrap/4/js/bootstrap.min.js"></script>
	<script>
		function removeTimeframe(){
		console.log("starting");
		var timeFrames = dmx.parse('timeS.value');
		var duration = dmx.parse('total_duration.value');
		var parsedHours = [];
		var ok = [];
		
		for(var i = 0; i < timeFrames.length; i++){
			if(timeFrames[i].timeframe.slice(0,1) === "0"){
				parsedHours.push(timeFrames[i].timeframe.slice(1, 2));
			} else {
				parsedHours.push(timeFrames[i].timeframe.slice(0, 2));
			}
		}
		// console.log('parsedHours = ', parsedHours, duration);

		var result = parsedHours;

		// for(var i = 0; i < parsedHours.length; i++){

			
		// 	var prevFine = 0;
			
			for(var j = 0; j < parsedHours.length; j++){
				// console.log('currently at', j);
				var current = parseInt(parsedHours[j]);
				var endTime = current + duration;
				// console.log('endTime for', current,' = ', endTime);
			
				if(missingTimes(current, parsedHours, endTime)){
					// console.log('deleting ', result.indexOf(String(current)));
					result.splice(result.indexOf(String(current)), 1);
					// console.log('result = ', result);
					j--;
				}
			} 
		// }
		dmx.parse('TIMES.empty()');
		console.log('final result = ', result);
		for(var i = 0; i < result.length; i++){
			var k = transformToTime(result[i]);
			dmx.parse('TIMES.add('+k+')');
		}
		console.log('set available_starting_time to', result, '\nchecking actual value...');
		var check = dmx.parse('TIMES.items');
		console.log('value of this variable: ', check);

	}

	function missingTimes(startTime, parsedTimes, endTime){
		// console.log('loop from', startTime, 'to', endTime);
		for(var i = startTime; i <= endTime; i++){
			if(parsedTimes.indexOf(String(i)) == -1){
				// console.log('true for',i);
				return true;
			}
			// console.log('skipped', i);
		}
		// console.log('false for',startTime);
		return false;
	}

	function transformToTime(value){
		console.log('transorming', value, 'to time');
		const FORMAT = ":00:00";
		var parsedValue = parseInt(value);
		var output = "";
		if(parsedValue < 10){
			output = "0"+value+FORMAT;
		} else {
			output = value+FORMAT;
		}
		output = "'"+output+"'";
		console.log('output of transformToTime of', value, 'is', output);

		return output;
	}
	</script>
	<script>
		function logThis(){
		var k = dmx.parse('fetched_id.value');
		console.log('this is the fetched id: ', k);
		console.log('test #2');
		var kk = dmx.parse('serv_hour_id.value');
		console.log('result of test #2 = ', kk);
	}
	</script>
</body>

</html>